.draggable{

    cursor: move;
    cursor: grab;
    cursor: -webkit-grab;

}


.clickable{

    cursor: pointer;
    cursor: hand;
    cursor: -webkit-pointer;
    cursor: -moz-pointer;
}


.editable{

    cursor: text;
    cursor: -webkit-text;
    cursor: -moz-text;
}


