.logo{

    height:100px;
}


.fullHeight{

    height:100%;
}


.bigger-text{

    font-size: 10em!important;

}

.big-text{

    font-size: 5em!important;

}

.medium-text{

    font-size: 2em!important;

}


.small-text{

    font-size: 0.5em!important;

}


.smaller-text{

    font-size: 0.1em!important;

}